@charset "UTF-8";
/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	-font-smoothing:antialiased;
	-text-rendering:optimizeLegibility;
	}
	
body {
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	}

a {
	text-decoration: none;
	}

a:hover {
	color: #000;
	}

.nav-wrap { 
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-bottom: .25px solid #888;
	z-index: 200;
}

.works-nav {
	margin-bottom: 40px;
}

.works-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.works-nav ul li {
	display: inline;
	padding: 0 5px 0 0;
}

.works-nav a { 
	color: #888; 
	font-size: 14px; 
	padding: 20px;
	text-decoration: none;
}
	
.works-nav a:hover { 
	color: #ccc; 
}

/* Content Wrapper */
#wrapper {
	padding: 100px 90px 50px 90px;
}

/* Works images */
.work img {
	height: 200px;
}

/* Clearfix */
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
	
.wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
}

/*site title----------------------------------------------------------------------*/
#site-title:before {
	content: '';
	width: 32px;
	height: 32px;
	background: url('img/site-logo.png') no-repeat;
	display: block;
	float: left;
	margin-right: 10px;
}

#site-title {
	float: left;
	margin: 0;
	padding: 12px 0 12px 20px;
	font-size: 18px;
	font-weight: normal;
	vertical-align: middle;
	color: #000;
}


	
/*menu----------------------------------------------------------------------*/


/* Example One */
#example-one { 
	/*position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	*/border-bottom: 1px solid #888; 
	}

#example-one li { 
	display: inline-block;	
	}

#example-one a { 
	color: #888; 
	font-size: 14px; 
	float: left;
	padding: 20px;
	text-decoration: none;
	}

#example-one a:hover { 
	color: #ccc; 
	}
	
#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #F386A1;
	}
	
.current_page_item a { 
	color: #000 !important; 
	color: #F386A1 !important; 
	}
	
.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
	}

.ie6 #magic-line {
	bottom: -3px;
	}

/*background---------------------------------------------------------------------------*/

#first {
            background: url('img/background.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
			min-height: 1250px;
            min-width:1500px;
            /*height: 1250px;*/
      	  /*padding-bottom: 200px;*/
    }
    
#logo {
	position: absolute;
	padding-top:25%;
	padding-left:40%;
	}